*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-family:monospace;
    color: rgb(11, 110, 116);
    /* margin: 4px; */
}
.line{
    height: 5px;
    width: 400px;
    background: rgb(11, 110, 116);
    margin: 24px;
    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(219, 214, 214);
    border-radius: 10px;
    padding: 24px;
    background: rgb(219, 219, 219);
    box-shadow: rgb(5, 47, 61) 2px 2px 5px;
    width: 450px;
}
#pic{
    clip-path: circle();
    height: 100px;
}
#name{
    color: rgb(11, 110, 116);
    padding: 2px;
}
#job{
    color: rgb(138, 209, 221);
    padding: 1px;

}
#review{
    color: rgb(78, 134, 151);
    padding: 12px;

}
button{
    background: rgb(219, 219, 219);
    border: none;
}
.btn{
    height: 34px;
    margin: 2px 10px;
}